{{> nav/nav-block }}

<h1 class="crimson center">I am listening.</h1>

<div class="container">
    <div class="row">
        <div class="crimson col l12 m12 s12 center">We're going to do some amazing things, my friends!</div>
    </div>
</div>

{{> footer/footer }}