
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">
                    <div class="row">
                        <div class="col s12 m12 l12">These</div>
                        <div class="col s12 m12 l12">Will</div>
                        <div class="col s12 m12 l12">Be</div>
                        <div class="col s12 m12 l12">Contacts</div>
                    </div>
                </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">These</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Will</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Become</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Projects</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            All Rights Due To 2021 - Equinox Crest Productions
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>