  <nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">Equinox Crest Productions</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#test1">Life</a></li>
        <li class="tab"><a href="#test2">Sound</a></li>
        <li class="tab"><a href="#test3">Design</a></li>
        <li class="tab"><a href="#test4">Company</a></li>
      </ul>
    </div>
  </nav>